<div ng-controller="pipeController" class="container">
	<div class="clearfix">&nbsp;</div>
	<div class="row ">
		<div class="col-lg-12">
			<div class="text-center">
				<a class="btn btn-success" role="button" ng-click="getPipes()">GET PIPES!</a>
			</div>
		</div>
	</div>
	<div class="clearfix">&nbsp;</div>
    <div class="row" ng-repeat="pipe in pipes">
		<div class="media">
			<div class="media-left media-top">
				<a href="#/{{$index+1}}">
					<img class="media-object" ng-src="{{pipe['media:group']['media:thumbnail'][1].url}}" alt="{{pipe.title}}"  height="{{pipe['media:group']['media:thumbnail'][1].height}}" width="{{pipe['media:group']['media:thumbnail'][1].width}}">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading"><a href="#/{{$index+1}}">{{pipe.title}}</a></h4>
				<div class="collapse" id="collapseExample_{{$index}}">
					<p>{{pipe.description}} >>> <a href="{{pipe.link}}">{{pipe.author.name}}</a></p>
				</div>
			</div>
		</div>
		<br>
    </div>
	<div class="row" ng-show="loading">
		<div class="col-lg-12">
			<div class="text-center">
				<img src="http://www.hiveinside.com/images/loader.gif">
			</div>
		</div>
	</div>
    <div class="row" ng-show="error"><div class="col-lg-6 col-lg-offset-3 bg-danger text-center"><h4>{{error}}</h4></div></div>
</div>