<?xml version="1.0" ?>
<widget xmlns="http://www.w3.org/ns/widgets" id="yahoopipes_dimamedun" version="0.1.0">
  <!-- Name of the widget -->
  <name>Yahoo Pipes</name>
  <!-- Description is shown when installing widget -->
  <description>Yahoo Pipes Widget</description>
  <!-- Start page for widget -->
  <content src="index.html" />
  <!-- Default icon for widget -->
  <icon src="icon.png" />
  <!-- Widget author -->
  <author>Dima Medun</author>
</widget>